<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		{% include header.html %}
		  <!-- Your like button code -->
  <div style="display:block; margin: auto; width: 25%; padding:25px; " class="fb-like" 
    data-href="https://facebook.com/jaybirdsport" 
    data-layout="standard" 
    data-action="like" 
    data-show-faces="true">
  </div>
		{% include page_content.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
